<h3>This is index page of to do list.</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>CategoryId</th>
      <th>Explanation</th>
      <th>ExpirationDay</th>
      <th>Priority</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of lists">
      <td>{{ list.name }}</td>
      <td class="fst-italic">{{ list.category_id }}</td>
      <td>{{ list.explanation }}</td>
      <td>{{ list.expiration_day | date: 'short' }}</td>
      <!-- priorityによって色を変更させようとしているが、いまだにできず -->
      <td id="priority-list">{{ list.priority }}</td>
      <td><a routerLink="/lists/{{ list.id }}/edit">Edit List</a></td>
      <td><a routerLink="/lists" (click)="deleteList(list)">Delete</a></td>
    </tr>
  </tbody>
</table>

<form [formGroup]="listForm">

  <h3 class="mb-3">New List Form</h3>

  <div class="mb-2">
    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name" #listName>

    <div class="mt-2" *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors?.['required'] || name.errors?.['notOnlyWhiteSpace']">
        Name is required and only space is not allowed.
      </div>
      <div *ngIf="name.errors?.['minlength']">
        Name must be at least 2 characters long.
      </div>
    </div>
  </div>

  <div class="mb-2">
    <label for="category_id">Category Id: </label>
    <select id="category_id" formControlName="category_id" #listCategory>
      <!-- 一つ目の値にしても、エラーが出ずに保存されてしまう -->
      <!-- →value = ''　を一つ目だけに追加し、listForm.controls.category_id.value == ''だった時にエラーを表示させるようにした →OK!! -->
      <option value=''>Please choose one of all the categories.</option>
      <!-- オブジェクトを指定している場合、ngValueを使わないと値が正常に切り替わらない -->
      <!-- ここでstring型を受け取っており、Argument of type 'string' is not assignable to parameter of type 'number'.というエラーが出てしまう -->
      <!-- →component側でanyがたで受け取り、その中で条件分岐をしているが、現地点では新たにカテゴリーを追加した際、保存ができない状態にある -->
      <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
    </select>

    <div class="mt-2" *ngIf="category_id.invalid && (category_id.dirty || category_id.touched)"
      class="alert alert-danger">
      <div *ngIf="category_id.errors?.['required'] || category_id.value == ''">
        Category Id is required.
      </div>
    </div>
  </div>

  <div class="mb-2">
    <label for="explanation">Explanation: </label>
    <input id="explanation" type="text" [formControl]="listForm.controls.explanation" #listExplanation>

    <div class="mt-2"
      *ngIf="listForm.controls.explanation.invalid && (listForm.controls.explanation.dirty || listForm.controls.explanation.touched)"
      class="alert alert-danger">
      <div
        *ngIf="listForm.controls.explanation.errors?.['required'] || listForm.controls.name.errors?.['notOnlyWhiteSpace']">
        explanation is required and only space is not allowed.
      </div>
      <div *ngIf="listForm.controls.explanation.errors?.['minlength']">
        explanation must be at least 5 characters long.
      </div>
    </div>
  </div>

  <div class="mb-2">
    <label for="expiration_day">Expiration Day: </label>
    <input id="expiration_day" type="datetime-local" min="2022-01-01T00:00"
      [formControl]="listForm.controls.expiration_day" #listExpiration>

    <div class="mt-2"
      *ngIf="listForm.controls.expiration_day.invalid && (listForm.controls.expiration_day.dirty || listForm.controls.expiration_day.touched)"
      class="alert alert-danger">
      <div *ngIf="listForm.controls.expiration_day.errors?.['required']">
        Expiration Day is required.
      </div>
    </div>
  </div>

  <div class="mb-2">
    <label for="priority">Priority: </label>
    <select id="priority" [formControl]="listForm.controls.priority" #listPriority>
      <option value=''>Please choose priority level.</option>
      <!-- componentのなかに配列を作成して読み込む以下の方式では、1: highのようにkeyとvalueがセットで保存されてしまっていた -->
      <!-- <option *ngFor="let priority of priorities" [ngValue]="priority">{{ priority }}</option> -->
      <option>high</option>
      <option>middle</option>
      <option>low</option>
    </select>

    <div class="mt-2"
      *ngIf="listForm.controls.priority.invalid && (listForm.controls.priority.dirty || listForm.controls.priority.touched)"
      class="alert alert-danger">
      <div *ngIf="listForm.controls.priority.errors?.['required'] || listForm.controls.priority.value == ''">
        priority is required.
      </div>
    </div>
  </div>


  <button class="mb-3 btn btn-outline-success" type="button" [disabled]="listForm.invalid" (click)="addList(listName.value, listCategory.value, listExplanation.value,
   listExpiration.value, listPriority.value); listName.value = ''; listCategory.value = ''; listExplanation.value = '';
   listExpiration.value = ''; listPriority.value = '';">Create
    new List</button>


</form>

<p><a routerLink="/categories">Go to Categories page</a></p>